{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}economeep{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress js %}
    <script src="{% static "base/js/lib/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "base/js/lib/bootstrap-2.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "base/js/lib/angular-1.1.4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "base/js/lib/angular-ui.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "base/js/lib/ui-bootstrap-0.2.0.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "base/js/lib/highcharts-3.0.1.min.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "base/coffee/app.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "base/coffee/resource.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "base/coffee/directives.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    <script src="{% static "users/coffee/resources/users.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "payments/coffee/resources/payments.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "stocks/coffee/resources/stocks.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    <script src="{% static "payments/coffee/controllers/payment_list.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "stocks/coffee/controllers/stock_list.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    {% block js %}{% endblock js %}
    {% endcompress %}

    {% compress css %}
    <link href="{% static "base/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "base/css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}
  </head>

  <body ng-app="economeep" data-csrftoken="{{ csrf_token }}" ng-controller="PaymentListCtrl">
    <div class="container">
        {% verbatim %}

        <div ng-show="logged_in">
            Logged in as {{ user.first_name }} {{ user.last_name }}
            <button class="btn btn-small" ng-click="logOut()">Log out</button>

            <piechart heading="Fruits" name="Fruits eaten today" data='{{ paymentsChartData }}'></piechart>

            <div>
                <h2>10 latest payments</h2>

                 <ul ng-show="payments.length">
                    <li ng-repeat="payment in payments">
                        {{ payment.description }} <b>{{ payment.amount }}</b>
                    </li>
                </ul>

                <button class="btn btn-success" ng-click="addPayment()">
                    Add new payment
                </button>

                <button class="btn" ng-click="addData()">
                    Test adding data
                </button>

                <button class="btn" ng-click="updateData()">
                    Test updating data
                </button>

                {{ payment_form }}
            </div>
        </div>


        <div ng-controller="StockListCtrl">
            <h2>Some stocks</h2>
             <ul>
                <li ng-repeat="stock in stocks">
                    {{ stock.name }}
                    <p>{{ stock.short_name }}</p>
                </li>
            </ul>
        </div>

        {% endverbatim %}

        <div ng-hide="logged_in">
            <a href="{% url "socialauth_begin" "facebook" %}" class="btn btn-primary">Login with Facebook</a>
        </div>
    </div>

    <script type="text/ng-template" id="addPaymentForm">
{% include "ng-templates/addPaymentForm.html" %}
    </script>

  </body>
</html>
