{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}economeep{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress js %}
    <script src="{% static "js/lib/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/bootstrap-2.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/angular-1.1.4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/angular-resource.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/angular-ui.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/ui-bootstrap-0.2.0.min.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "coffee/app.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    <script src="{% static "coffee/resources/payments.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "coffee/resources/stocks.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    <script src="{% static "coffee/controllers/payment_list.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "coffee/controllers/stock_list.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    {% block js %}{% endblock js %}
    {% endcompress %}

    {% compress css %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}
  </head>

  <body ng-app="economeep">
    <div class="container">
        <div ng-controller="PaymentListCtrl">
            {% verbatim %}

            <div ng-show="logged_in">
                <h1>Welcome {{ user.first_name }}!</h1>

                <div ng-show="payments.length">
                    <h2>My payments</h2>
                     <ul>
                        <li ng-repeat="payment in payments">
                            {{ payment.description }} <b>{{ payment.amount }}</b>
                        </li>
                    </ul>
                </div>
            </div>

            {% endverbatim %}

            <div ng-hide="logged_in">
                <a href="{% url "socialauth_begin" "facebook" %}" class="btn btn-primary">Login with Facebook</a>
            </div>
        </div>

        <div ng-controller="StockListCtrl">
            <h2>Some stocks</h2>
             <ul>
                {% verbatim %}
                <li ng-repeat="stock in stocks">
                    {{ stock.name }}
                    <p>{{ stock.short_name }}</p>
                </li>
                {% endverbatim %}
            </ul>
        </div>

    </div>
  </body>
</html>
