{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en" ng-app="EconomeepApp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}economeep{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    {% compress css %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}
  </head>

  <body ng-controller="StockListCtrl">
    <div class="container">
        <h1>Some stocks</h1>

        {% verbatim %}

         <ul>
            <li ng-repeat="stock in stocks">
                {{ stock.name }}
                <p>{{ stock.short_name }}</p>
            </li>
        </ul>

        {% endverbatim %}
    </div>
    {% compress js %}
    <script src="{% static "js/lib/jquery-1.9.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/bootstrap-2.3.1.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/angular-1.1.4.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/lib/angular-resource.min.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "js/services.coffee" %}" type="text/coffeescript" charset="utf-8"></script>
    <script src="{% static "js/app.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/base.coffee" %}" type="text/coffeescript" charset="utf-8"></script>

    {% block js %}{% endblock js %}
    {% endcompress %}
  </body>
</html>
